
body{

background-color: #6699ff;
color: #d5e3ff;
font-family: verdana, arial, sans-serif;

}
h1{

  line-height: 200%;
}

a {
text-decoration: none;

}

nav {
font-weight: bold;

}
.category {
background-color: #6699ff;
color: #003366;
font-size: 1.1em;

}

footer {
font-size: .70em;


}
