
body{

background-color: #6699ff;
color: #d5e3ff;
font-family: verdana, arial, sans-serif;
text-align: center;
}
h1{

  line-height: 200%;
}

a {
text-decoration: none;

}

nav {
font-weight: bold;

}
nav li {
display: inline;

}

.category {
background-color: #6699ff;
color: #003366;
font-size: 1.1em;
font-weight: bold;

}
h2 {
  text-align: left;
}
dl p {text-align: left;}

main dt {
text-align: left;

}
main dd {
  text-align: left;
}
footer {
font-size: .70em;
text-align: left;
}
